html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
    font-family: "Bitter", serif;
}

h1 {
    font-size: 2.5vw;
    color: #7d8c99;
}

.favorites-title {
    font-size: 2.5vw;
    color: #7d8c99;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

h2 {
    color: #5b5f70;
    font-size: 1.8vw;
    margin: 0;
}

h3 {
    color: #5b5f70;
    font-size: 1.5em;
}

button {
    user-select: none; /* deprecate select letters */
    outline: none; /* delete border after click */
}

button:hover {
    cursor: pointer;
}

input {
    outline: none;
}

main {
    height: 100%;
    width: 70%;
    margin: 0 auto;
    padding: 15px;
}


/* ========================================= Round button ====================================== */


.round-button {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    border: none;
    color: white;
    font-size: 1.5em;
    background-color: slategray;
    padding: 0.5em;
    margin: 0;

    /* For cross sign inside */
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-button:hover {
    background-color: #7d8c99;
}


/* ========================================= List of weather information ====================================== */


.full-weather-information {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}

.full-weather-information li {
    display: flex;
    justify-content: space-between;
    padding: 0.5vh;
    margin: 1vh 0vh 1vh 0vh;
    background-color: darkgray;
    font-weight: bold;
}

.full-weather-information li * {
    padding: 0.5vh;
    font-size: 1em;
}

.full-weather-information li .key {
    color: white;
}

.full-weather-information li .value {
    color: #e5dede;
    text-align: right;
}


/* ================================================ TOP ================================================ */


main .top-container {
    display: grid;
    min-width: 280px;
    grid-template-columns: repeat(3, 1fr);
}

main .top-container .refresh-geolocation {
    background-color: #c9d2d7;
    color: #585858;
    border: 0;
    border-radius: 5px;
    font-size: 1em;
    width: 14vw;
    padding: 10px;
    height: fit-content;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

main .top-container .refresh-geolocation .refresh-icon {
    display: none;
    background-image: url("../assets/loader.svg");
    background-repeat: no-repeat;
    height: 2vw;
    width: 2vw;
}

main .top-container .refresh-geolocation:hover {
    cursor: pointer;
    background-color: #d6dee2;
}

main .main-city-container {
    display: grid;
    grid-column-gap: 2vw;
    grid-row-gap: 2vh;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1vh;
    min-width: 280px;
}

main .main-city-container .brief-weather-information {
    align-items: center;
}

main .main-city-container .brief-weather-information h2 {
    margin-bottom: 2vh;
}

main .main-city-container .brief-weather-information .temperature-information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

main .main-city-container .brief-weather-information .temperature-information .weather-icon {
    width: 8vw;
}

main .main-city-container .brief-weather-information .temperature-information .temperature-number {
    color: #5b5f70;
    font-size: 5vw;
}

/*main .main-city-container .full-weather-information {*/
/*    display: none;*/
/*}*/

/* ================================================ TOOLS ================================================ */


main .favorite-cities-container .tools-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
    min-width: 280px;
}

main .favorite-cities-container .tools-container .add-favorite-city {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main .favorite-cities-container .tools-container .add-favorite-city .add-city-field {
    margin-right: 10px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: #ececec;
}

main .favorite-cities-container .tools-container .add-favorite-city .add-city-field::placeholder {
    font-size: 0.9em;
    font-style: italic;
    padding-left: 5px;
}


/* ================================================ FAVORITE CITIES ================================================ */


main .favorite-cities-container .favorite-cities-list {
    display: grid;
    grid-column-gap: 2vw;
    grid-row-gap: 2vh;
    grid-template-columns: repeat(2, 1fr);

    margin: 0;
    list-style: none;
    padding-inline-start: 0;

    min-width: 280px;
}

main .favorite-cities-container .favorite-cities-list li .brief-weather-information {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 3fr 1fr;
}

main .favorite-cities-container .favorite-cities-list li .brief-weather-information .city-name {
    margin: 0;
}

main .favorite-cities-container .favorite-cities-list li .brief-weather-information .temperature-number {
    color: #5b5f70;
    padding-left: 2vw;
    font-size: 2em;
}

main .favorite-cities-container .favorite-cities-list li .brief-weather-information .weather-icon {
    padding-left: 2vw;
    width: 2.5em;
}

main .favorite-cities-container .favorite-cities-list li .brief-weather-information .remove-city-button {
    transform: rotate(45deg);
    justify-self: flex-end;
}


/* ================================================ Media requests ================================================ */


@media (max-width: 768px) {
    main {
        width: 80%;
    }

    h1, .favorites-title {
        font-size: 5vw;
    }

    h2 {
        font-size: 3.5vw;
    }

    /* Refresh button */
    main .top-container {
        grid-template-columns: 2fr 1fr;
        justify-content: flex-start;
    }

    main .top-container .refresh-geolocation {
        margin: auto 0;
        width: fit-content;
        height: fit-content;
        justify-self: flex-start;
    }

    main .top-container .refresh-geolocation .refresh-text {
        display: none;
    }

    main .top-container .refresh-geolocation .refresh-icon {
        display: block;
        height: 3vw;
        width: 3vw;
    }

    /* Tools container */
    main .favorite-cities-container .tools-container {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 5vh;
    }

    main .favorite-cities-container .tools-container .add-city-field {
        width: 100%;
    }

    /* Main container */
    main .main-city-container {
        grid-template-columns: repeat(1, 1fr);
    }

    main .main-city-container .brief-weather-information .temperature-information .weather-icon {
        width: 10vw;
    }

    main .main-city-container .brief-weather-information .temperature-information .temperature-number {
        color: #5b5f70;
        font-size: 8vw;
    }

    /* Favorite cities container */
    main .favorite-cities-container .favorite-cities-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 500px) {
    main {
        width: 90%;
    }

    h1, .favorites-title {
        font-size: 7vw;
    }

    h2 {
        font-size: 5vw;
    }

    main .main-city-container .brief-weather-information .temperature-information .weather-icon {
        width: 20vw;
    }

    main .main-city-container .brief-weather-information .temperature-information .temperature-number {
        color: #5b5f70;
        font-size: 17vw;
    }
}


/* ======================================== LOADER ====================================== */


main .loader-on,
main .favorite-cities-container .favorite-cities-list .loader-on {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column-gap: unset;
    grid-row-gap: unset;
    grid-template-columns: none;
}

main .loader-on .brief-weather-information,
main .loader-on .full-weather-information,
main .favorite-cities-container .favorite-cities-list .loader-on .brief-weather-information,
main .favorite-cities-container .favorite-cities-list .loader-on .full-weather-information {
    display: none;
}

.loader-on .city-loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-loader {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10vh;

    margin-bottom: 1vh;
    min-width: 280px;
}

.city-loader .loader-icon {
    background-image: url("../assets/loader.svg");
    color: black;
    background-repeat: no-repeat;
    height: 2vw;
    width: 2vw;
    margin: 2vh;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}